<div class="container" id="portfolio">
    <div id="exTab3" class="container">

        <ul class="nav nav-tabs nav-justified" >
            <li  (click)="onSelect('amz')" class="{{type.indexOf('amz')==0? 'active':''}}" >
                <a  href="#1a" data-toggle="tab"><img src="./assets/images/logo_amazon.png"/>  </a>
            </li>
            <li *ngIf= "(!(type.indexOf('Apps') > 0))"  (click)="onSelect('walmart')" class="{{type.indexOf('walmart')==0? 'active':''}}" >
                <a  href="#1d" data-toggle="tab"><img src="./assets/images/walmart.png"/></a>
            </li>

            <li *ngIf= "((type.indexOf('Apps') > 0)|| (type.indexOf('Movies') > 0)
            || (type.indexOf('Songs') > 0) || (type.indexOf('Music Videos') > 0 ) ||
            (type.indexOf('TV Episodes') > 0 ) || (type.indexOf('Audio Books') > 0))"
                (click)="onSelect('itunes')" class="{{type.indexOf('itunes')==0? 'active':''}}">

                <a  href="#1b" data-toggle="tab"> <img src="./assets/images/logo_itunes.png"/> </a>
            </li>
            <li *ngIf= "((type.indexOf('Laptops') > 0)|| (type.indexOf('Desktop') > 0)
            || (type.indexOf('Cell Phones') > 0) || (type.indexOf('Televisions') > 0 ) ||
            (type.indexOf('Camera') > 0 ) )" (click)="onSelect('bestbuy')" class="{{type.indexOf('bestbuy')==0? 'active':''}}" >
                <a  href="#1c" data-toggle="tab"><img src="./assets/images/logo_bestbuy.png"/></a>
            </li>
            <li *ngIf= "(!(type.indexOf('Apps') > 0))"  (click)="onSelect('rakuten')" class="{{type.indexOf('rakuten')==0? 'active':''}}" >
                <a  href="#1e" data-toggle="tab"><img src="./assets/images/logo_rakuten.png"/></a>
            </li>
            <!--li (click)="onSelect('rakuten')">
                <a  href="#1c" data-toggle="tab">Rakuten</a>
            </li-->
        </ul>

        <div *ngIf="ituneslisting?.feed !== undefined " class="row is-flex" id="1b">
            <div *ngFor="let element of generateArray(ituneslisting.feed.entry)"
                 class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail equalize same-height">
                    <a target="_blank"
                       href="{{element['link'][0]? element['link'][0].attributes.href : element['link'].attributes.href }}" class="thumbnail-parent-fix">
                        <img class="img-thumbnail" [hidden]="!element['im:image'][2]"
                             src="{{element['im:image'][2].label}}" alt=""/>
                    </a>
                    <div class="caption">
                        <h6 class="media-heading">{{element['title'].label}}</h6>

                        <p>
                            <tooltip-content #myTooltip>
                                {{element['summary']?element['summary'].label:''}}
                            </tooltip-content>

                            <button [tooltip]="myTooltip" tooltipAnimation="true" tooltipPlacement="left"
                                    class="btn btn-default" role="button">Details
                            </button>
                            <a target="_blank"
                               href="{{element['link'][0]? element['link'][0].attributes.href : element['link'].attributes.href }}"
                               class="btn btn-info" role="button">Buy</a>
                           <span class="item-price">{{(element['im:price'].label === 'Get')? '':element['im:price'].label}}</span>

                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div *ngIf="walmartlisting != undefined && walmartlisting.items != undefined && walmartlisting.items.length > 0;" class="row is-flex" id="1d">
            <div *ngFor="let element of generateArray(walmartlisting.items);let i=index" class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <a target="_blank" href="{{element.productUrl }}" class="thumbnail-parent-fix">
                        <img class="img-thumbnail" [hidden]="!element.mediumImage"
                             src="{{element.mediumImage}}" alt=""/>
                    </a>
                    <div class="caption">
                        <h6 class="media-heading">{{element.name}}</h6>

                        <p>
                            <tooltip-content #myTooltip id="{{index}}">
                               {{unescapeHtml(element.longDescription)}}

                            </tooltip-content>

                            <button [tooltip]="myTooltip" tooltipAnimation="true" tooltipPlacement="left"
                                    class="btn btn-default" role="button">Details
                            </button>

                            <a target="_blank" href="{{element.productUrl }}" class="btn btn-info"
                               role="button">Buy</a>
                            <span class="item-price">${{element.salePrice == undefined ?'':element.salePrice}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="amazonlisting != undefined && amazonlisting.length > 0" class="row is-flex" id="1a">

            <div class="search-results"
                 infinite-scroll
                 [infiniteScrollDistance]="2"
                 [infiniteScrollThrottle]="500"
                 (scrolled)="onScroll()">
            </div>
            <div *ngFor="let element of generateArray(amazonlisting)" class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">

                    <a target="_blank" href="{{element['DetailPageURL'][0] }}" class="thumbnail-parent-fix">
                        <img class="img-thumbnail" [hidden]="!element['MediumImage'][0].URL[0]"
                             src="{{element['MediumImage'][0].URL}}" alt="" />
                    </a>
                    <div class="caption">
                        <h6 class="media-heading">{{element['ItemAttributes'][0].Title[0]}}</h6>

                        <p>
                            <tooltip-content #myTooltip>

                                <ul *ngFor="let feature of element['ItemAttributes'][0].Feature">
                                    <li>{{feature}}</li>
                                </ul>
                            </tooltip-content>

                            <button [tooltip]="myTooltip" tooltipAnimation="true" tooltipPlacement="left"
                                    class="btn btn-default" role="link">Details
                            </button>

                            <a target="_blank" href="{{element['DetailPageURL'][0] }}" class="btn btn-info"
                               role="button">Buy</a>
                            <span class="item-price">{{element['ItemAttributes'][0].ListPrice == undefined ?'':element['ItemAttributes'][0].ListPrice[0].FormattedPrice}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="bestbuylisting != undefined && bestbuylisting.products.length > 0" class="row is-flex" id="1c">
            <div *ngFor="let element of generateArray(bestbuylisting.products)" class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <a target="_blank" href="{{element.url }}" class="thumbnail-parent-fix">
                        <img class="img-thumbnail" [hidden]="!element.thumbnailImage"
                             src="{{element.thumbnailImage}}" alt=""/>
                    </a>
                    <div class="caption">
                        <h6 class="media-heading">{{element.name}}</h6>

                        <p>
                            <tooltip-content #myTooltip>

                                <ul *ngFor="let feature of element.features">
                                    <li>{{feature.feature}}</li>
                                </ul>
                            </tooltip-content>

                            <button [tooltip]="myTooltip" tooltipAnimation="true" tooltipPlacement="left"
                                    class="btn btn-default" role="button">Details
                            </button>

                            <a target="_blank" href="{{element.url}}" class="btn btn-info"
                               role="button">Buy</a>
                           <span class="item-price">${{element.salePrice}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="rakutenlisting != undefined && rakutenlisting.results.products.product.length > 0" class="row is-flex" id="1e">
            <div *ngFor="let element of generateArray(rakutenlisting.results.products.product)" class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <a target="_blank" href="http://www.rakuten.com/sr/searchresults#qu={{element.name}}" class="thumbnail-parent-fix">
                        <img class="img-thumbnail" [hidden]="!element.image_url_large"
                             src="{{element.image_url_large}}" alt=""/>
                    </a>
                    <div class="caption">
                        <h6 class="media-heading">{{element.name}}</h6>

                        <p>
                            <tooltip-content #myTooltip>
                                {{element.description}}

                            </tooltip-content>

                            <button [tooltip]="myTooltip" tooltipAnimation="true" tooltipPlacement="left"
                                    class="btn btn-default" role="button">Details
                            </button>

                            <a target="_blank" href="http://www.rakuten.com/sr/searchresults#qu={{element.name}}" class="btn btn-info"
                               role="button">Buy</a>
                            <span class="item-price">${{element.price_min}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--div *ngIf="! equals({}, videos.rss)" class="row">
            <div *ngFor='let video of videos.rss.channel.item' class="col-lg-2 col-md-5 col-xs-12 thumb">
                <div class="thumbnail">
                    <a  href="#">
                        <img ng-hide="video['coverArt'][2] == ''" class="img-responsive" src="{{video['coverArt'][2].__text    }}" alt="">
                    </a>
                </div>
            </div>
        </div-->
    </div>
</div>