html {
	font-size: 14px;
}
body {
	min-width: 320px;
	padding: 5px;
	background: #1c2026 !important;
	font-family: Helvetica, sans-serif;
}
#exTab3 .nav-pills > li > a {
	border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
	color : white;
	background-color: #428bca;
	padding : 5px 15px;
}

@include media-breakpoint-up(sm) {
	html {
		font-size: 16px;
	}
}

@include media-breakpoint-up(md) {
	html {
		font-size: 20px;
	}
}

@include media-breakpoint-up(lg) {
	html {
		font-size: 28px;
	}
}
#portfolio .row{
	margin:50px /* margin around the "whole row" not inbetween "stacked rows" */

}

#portfolio .img-thumbnail{
	border:150px;
	border-radius:4px; /* slight round in images in gallery */
	margin:0px;
	padding:0px;

}
listing {

	white-space: normal; !important;
}

.row.is-flex {
	display: flex;
	flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
	display: flex;
	flex-direction: column;
}
a {
	color: #fff;
}
.greedy-nav {
	position: relative;
	min-width: 250px;
	background: #fff;
}
.greedy-nav h1 {
	color: #fff;
	font-weight: bold;
	margin-top: 2rem;
	font-size: 24px;
}
.greedy-nav ol, ul {
	margin-top: 0 !important;
	margin-bottom: 0px !important;
}
.greedy-nav a {
	display: block;
	padding: 10px 15px;
	background: #fff;
	font-size: 15px;
	color: #ff9800;s
text-decoration: none;
}
.greedy-nav a:hover {
	color: #ef6c00;
}
.greedy-nav button {
	position: absolute;
	height: 100%;
	right: 0;
	padding: 0 15px;
	border: 0;
	outline: none;
	background-color: #f57c00;
	color: #fff;
	cursor: pointer;
}
.greedy-nav button:hover {
	background-color: #ef6c00;
}
.greedy-nav button::after {
	content: attr(count);
	position: absolute;
	width: 30px;
	height: 30px;
	left: -16px;
	top: 12px;
	text-align: center;
	background-color: #ef6c00;
	color: #fff;
	font-size: 14px;
	line-height: 28px;
	border-radius: 50%;
	border: 3px solid #fff;
	font-weight: bold;
}
.greedy-nav button:hover::after {
	transform: scale(1.075);
}
.greedy-nav .hamburger {
	position: relative;
	width: 32px;
	height: 4px;
	background: #fff;
	margin: auto;
}
.greedy-nav .hamburger:before,
.greedy-nav .hamburger:after {
	content: '';
	position: absolute;
	left: 0;
	width: 32px;
	height: 4px;
	background: #fff;
}
.greedy-nav .hamburger:before {
	top: -8px;
}
.greedy-nav .hamburger:after {
	bottom: -8px;
}
.greedy-nav .visible-links {
	display: inline-table;
}
.greedy-nav .visible-links li {
	display: table-cell;
	border-left: 1px solid #ff9800;
}
.greedy-nav .hidden-links {
	position: absolute;
	right: 0px;
	top: 100%;
}
.greedy-nav .hidden-links li {
	display: block;
	border-top: 1px solid #f57c00;
}
.greedy-nav .visible-links li:first-child {
	font-weight: bold;
}
.greedy-nav .visible-links li:first-child a {
	color: #ff9800 !important;
}
.greedy-nav .hidden {
	visibility: hidden;
}